.emails-input {
  width: 100%;
  height: 96px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 8px 7px;
  border: 1px solid #c3c2Cf;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
  overflow-y: auto;

  &__block {
    height: 24px;
    margin: 0 8px 4px 0;
     
    &--valid {
      padding: 0 7px 0 10px;
      border-radius: 100px; 
      background: rgba(102, 153, 255, 0.2);
    }

    &--invalid {
      border-bottom: 1px dashed #d92929;
    }
  }

  &__remove-btn {
    width: 8px;
    height: 8px;
    border: none;
    outline: none;
    vertical-align: middle;
    background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8%200.8L7.2%200L4%203.2L0.8%200L0%200.8L3.2%204L0%207.2L0.8%208L4%204.8L7.2%208L8%207.2L4.8%204L8%200.8Z%22%20fill%3D%22%23050038%22%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E') center center no-repeat;
    cursor: pointer;
  }

  &__input {
    display: inline-block;
    min-width: auto;
    max-width: 100%;
    height: 24px;
    flex-grow: 1;
    padding: 0;
    border: none;
    outline: none;
    font-size: 14px;

    &::placeholder,
    &::-webkit-input-placeholder,
    &::-ms-input-placeholder  {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #c3c2cf;
    }

    &::-ms-clear {
      display: none;
    }
  }
}

